/* HEATMAP */
/* Light theme colors */
:root {
  --color-0: #ebedf0;
  --color-1: #c6e48b;
  --color-3: #7bc96f;
  --color-5: #239a3b;
  --color-10: #196127;

  --font-color: #000000;
  --rhm-rect-active: black;
}

/* Dark theme colors */
.dark {
  --color-0: #23252c;
  --color-1: #355e3b;
  --color-3: #4f7c4a;
  --color-5: #6a9a5a;
  --color-10: #9fcb85;

  --font-color: #eeeeee;
  --rhm-rect-active: #ddd;
}
