:root {
  --color-0: #ebedf0;   /* Very light gray */
  --color-1: #d6e685;   /* Soft green */
  --color-3: #8cc665;   /* Medium green */
  --color-5: #44a340;   /* Deep green */
  --color-10: #1e6823;  /* Dark green */

  --font-color: #000000;
  --rhm-rect-active: #000000;
}


.dark {
  --color-0: #1e1e1e;   /* Very dark background block */
  --color-1: #264d3c;   /* Muted green */
  --color-3: #3d7b57;   /* Softer mid green */
  --color-5: #5ba56d;   /* Brighter mid green */
  --color-10: #9be49f;  /* Vibrant highlight */

  --font-color: #f5f5f5;
  --rhm-rect-active: #ffffff;
}
